body,
html,
#root {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  background-image: url('../../altBackground.jpeg');
  background-size: cover;
  background-position: center;
}

.mainApp {
  display: flex;
  gap: 4vh;
  flex-wrap: wrap;
  justify-content: center;
  

}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
}